.rank1-row{
    background-color: rgb(86, 189, 86);
}

.rank2-row{
    background-color: rgb(236, 236, 106);
}
.rank3-row{
    background-color: rgb(218, 83, 83);
}

.row-height {
    height: 60px;
    background-color: rgb(235, 236, 236);
}

.row-highlight{
    border: 4px solid rgb(219, 238, 51);
}

.result-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
    /* padding:10px 10px 10px 0px; */
    margin: 5px;;
    
}

.title {
    color: rgb(0, 0, 0);
}
.results-container{
    border: 1px solid rgb(235, 235, 221);
    margin-top: 20px;
    height:80%;
    overflow-y: scroll;
    width:500px;
}

div.dish-rank {
    height: 100%;
    width: 20%;
    background-color: rgb(36, 34, 34);
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.result-details {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 80%;
}