.container{
    border: 1px solid rgb(235, 235, 221);
    margin-top: 20px;
    height:80%;
    overflow-y: scroll;
    width:100%;
    

}

.parent-box {
    flex-direction: column;
    display: flex;
    align-items: center;
    max-height: 600px;
    width:500px;
    max-width:600px
}
.dish-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 100px;
    padding:10px;
    margin: 5px;;
    /* border: 1px solid lightgray; */
    background-color: beige;
}

.dish-details{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 60%;
}

div.dish-image {
    height: 100%;
    width: 20%;
}

img.dish-image {
    height: 100%;
    width: 100%;
}

.dish-desc {
    text-overflow: ellipsis;
    font-weight: normal;
    height:50%;
    overflow: hidden;
    margin-bottom: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.dish-title{
    font-weight: bolder;
    font-size: 15px;
}

.submit-btn{
    margin: 10px;
    background-color: rgb(47, 165, 47);
    color: white;
    border: none;
    padding:10px;

    width:200px;
}

.ratings{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 20%;
}